Source: php-xxhash
Section: php
Priority: optional
Maintainer: Timur Kumakbayev <timansky@neko.kz>
Build-Depends: debhelper (>= 10),
               dh-php (>= 0.33~),
               libtool,
               php7.0-dev,
               php7.1-dev,
               php7.2-dev,
               php7.3-dev
Standards-Version: 4.1.2
Homepage: https://github.com/Megasaxon/php-xxhash
Vcs-Git: https://github.com/Megasaxon/php-xxhash.git
Vcs-Browser: https://github.com/Megasaxon/php-xxhash

Package: php-xxhash
Section: php
Architecture: any
Multi-Arch: foreign
Pre-Depends: php-common (>= 2:69~)
Depends: ${misc:Depends},
         ${php:Depends},
         ${shlibs:Depends}
Recommends: ${misc:Recommends},
            ${phppear:Debian-Recommends}
Provides: ${php:Provides}
Description: xxhash php extension to add support for the xxHash fast hashing algorithm.
 xxHash is an extremely fast hash algorithm, running at ram speed limits.
 It successfully completes the SMHasher test suite which evaluates collision,
 dispersion and randomness qualities of hash functions.
